body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(202, 86%, 94%);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.genCard {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  width: 60%;
  border-radius: 15px;
  overflow: hidden;
}

.firstSection {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

.secondSection {
  display: flex;
  width: 50%;
  padding: 40px;
  background-color: hsl(202, 55%, 16%);
  box-sizing: border-box;
  border-radius: 0 0 0 90px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  /* align-content: center; */
}

h2,
h3 {
  margin: 0;
}

h3 {
  text-decoration: underline;
  font-weight: 600;
  color: hsl(200, 24%, 40%);
}

h3:hover {
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.amountInput {
  margin-top: 20px;
}

.inputDiv {
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  margin: 15px 0;
}
.inputDiv span {
  font-size: 30px;
  padding: 0 10px;
  background-color: hsl(202, 86%, 94%);
}

.inputDiv input {
  /* margin: 0; */
  width: 100%;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}
.inputDiv:focus-within {
  border-color: hsl(61, 70%, 52%);
}
.inputDiv:focus-within span {
  background-color: hsl(61, 70%, 52%);
}

input:hover {
  cursor: pointer;
}
.termRate {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.termDiv {
  display: flex;
  width: 90%;
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 0 20px 0;
}
.termDiv:focus-within {
  border-color: hsl(61, 70%, 52%);
}
.termDiv:focus-within span {
  background-color: hsl(61, 70%, 52%);
}
.termDiv input {
  border: none;
  outline: none;
  font-size: 25px;
  width: 70%;
  height: 35px;
}

.mortgageType {
  margin-top: 10px;
}

.termDiv span,
.interestDiv span {
  font-size: 20px;
  padding: 7px 10px;
  background-color: hsl(202, 86%, 94%);
  font-weight: bold;
}
.interestDiv:focus-within {
  border-color: hsl(61, 70%, 52%);
}
.interestDiv:focus-within span {
  background-color: hsl(61, 70%, 52%);
}
.interestDiv {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid hsl(200, 24%, 40%);
  overflow: hidden;
  border-radius: 6px;
  margin: 10px 0;
}

.interestDiv input {
  border: none;
  outline: none;
  font-size: 25px;
  width: 90%;
  height: 35px;
}

.repaymentDiv,
.interestOnlyDiv {
  border: 1px solid hsl(200, 24%, 40%);
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}
.repaymentDiv {
  margin-top: 20px;
}

.repaymentDiv:has(input:checked),
.interestOnlyDiv:has(input:checked) {
  background-color: hsl(61, 71%, 80%);
  border-color: hsl(61, 94%, 31%);
}

button {
  border: none;
  background-color: hsl(61, 70%, 52%);
  display: flex;
  align-items: center;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 50px;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

p {
  color: hsl(203, 41%, 72%);
  font-size: 18px;
}

input[type="radio"] {
  accent-color: gold;
  /* outline: none; */
  /* block-size: 20px; */
  /* inline-size: 20px; */
  width: 18px;
  height: 18px;
  /* cursor: pointer; */
  outline: none;
}

input[type="radio"]:focus {
  outline: none;
}

.resultContainer {
  text-align: start;
  display: none;
}
.primaryContainer {
  align-self: center;
}

.amountCard {
  background-color: hsl(201, 76%, 10%);
  border-top: 5px solid hsl(61, 70%, 52%);
  border-radius: 8px;
  padding: 20px 20px 40px 20px;
  margin-top: 30px;
}
.amountCard p {
  font-size: 16px;
}
.h2Result {
  font-size: 50px;
  color: hsl(61, 70%, 52%);
  border-bottom: 2px solid hsl(205, 14%, 34%);
  padding-bottom: 30px;
}
.totalP {
  margin-top: 30px;
}
